<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Employee List</h3>
    </div>

    <table class="table table-hover" id="dev-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Salary</th>
                <th>Nationality</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor='let employee of empListData' (click)="sendEmployeeDetail(employee.id)">
                <td>{{ employee.id }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.salary }}</td>
                <td>{{ employee.nationality }}</td>
            </tr>
        </tbody>
    </table>
</div>
